.principale{
  width: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/engin-chantier.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid gray;
}
.principale div{
  width: 100%;
  height: 58vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 10%);
  backdrop-filter: blur(4px);
}
.principale div h1{
  width: 26vw;
  text-align: center;
  font-size: x-large;
  color: white;
}
.principale div p{
  width: 26vw;
  color: white;
  text-align: justify;
  font-size: 0.95rem;
  font-weight: 300;
  line-height: 24px;
}
.principale div button{
  width: 12vw;
  height: 6vh;
  color: white;
  border: hidden;
  border-radius: 4px;
  background-color: rgb(62, 1, 28);
}

/* SECTION A PROPOS */
.apropos{
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid gray;
}
.apropos h1{
  text-align: center;
  color: rgb(14, 152, 255);
}
.apropos div.logo{
  width: 30vw;
  height: 40%;
  background-image: url(../assets/logo-removebg.png);
  background-size: contain;
  background-repeat: no-repeat;
  /* border: 1px solid gray; */
}
.apropos div.texte{
  width: 70%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid gray; */
}
.apropos .texte div{
  width: 45%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5% 1%;
  /* border: 1px solid orange; */
}
.apropos .texte div p{
  text-align: justify;
  line-height: 24px;
}

/* SECTION SERVICES */
.services{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(58, 58, 58);
  border: 1px solid gray;
}
.services h1{
  text-align: center;
  color: rgb(14, 152, 255);
}
.services div.cartes{
  width: 85%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid gold; */
}
.services div.cartes div.carte{
  width: 30%;
  height: 82%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5%;
  /* border: 1px solid greenyellow; */
}
.services div.cartes div.carte h4{
  width: 80%;
  text-align: center;
  /* border: 1px solid gray; */
}
.services div.cartes div.carte p{
  width: 80%;
  text-align: justify;
  line-height: 24px;
}

/* SECTION PROJETS */
.projets{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid gray; */
}
.projets h1{
  text-align: center;
  color: rgb(14, 152, 255);
}


/* SECTION AVIS CLIENTS */
.avisClient{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid gray; */
}
.avisClient h1{
  text-align: center;
  color: rgb(14, 152, 255);
}
.avisClient div.groupAvis{
  width: 70%;
  height: 68vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid gray; */
}
.avisClient div.groupAvis .avis {
  width: 23vw;
  height: 69%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 8px;
  border: hidden;
  background-color: rgb(62, 1, 28);
}
.avisClient div.groupAvis .avis hgroup {
  width: 76%;
  text-align: center;
  position: relative;
  top: -28%;
  left: 16%;
}
.avisClient div.groupAvis .avis p{
  width: 80%;
  text-align: justify;
  line-height: 22px;
  position: relative;
  top: -14%;
}
.avisClient div.groupAvis img{
  width: 6em;
  height: 6em;
  object-fit: cover;
  position: relative;
  top: -6%;
  left: -44%;
  border-radius: 100px;
}