.infoEntreprise{
    width: 100%;
    height: 70vh;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(14, 152, 255);
}
.infoEntreprise h1{
    text-align: center;
}

.infoEntreprise div{
    width: 70%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid wheat; */
}
.infoEntreprise div p{
    width: 29vw;
    font-size: 0.90rem;
    text-align: justify;
    line-height: 22px;
}
.fondateur{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid gray; */
}
.fondateur h1{
    text-align: center;
    color: rgb(14, 152, 255);
}
.fondateur div{
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid gray; */
}
.fondateur div p{
    width: 30vw;
    text-align: justify;
    line-height: 26px;
    color: rgb(62, 1, 28);
}
.fondateur  div img{
    width: 22vw;
    height: 72%;
    border-radius: 8px;
    border: 1px solid gray;
}
.equipe{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid gray; */
}
.equipe h1{
    text-align: center;
    color: rgb(14, 152, 255);
}
.equipe div.grille{
    width: 70%;
    height: 82%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /* gap: 2%; */
    /* border: 1px solid palevioletred; */
}
.equipe div.grille div{
    width: 16vw;
    height: 46%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    /* border: 1px solid gray; */
}

.equipe div.grille div img{
    object-fit: cover;
    object-position: center;
    margin: auto;
    clip-path: circle(50% at 50% 50%);
    /* border: 1px solid gray; */
}
.equipe div.grille div  p{
    font-size: 0.90rem;
    text-align: center;
    color: rgb(62, 1, 28);
}