.banniere-galerie{
    width: 100%;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid gray; */
}
.banniere-galerie hgroup{
    width: 60%;
    height: 30%;
    /* border: 1px solid gray; */
}
.banniere-galerie hgroup h1{
    text-align: center;
    color: rgb(14, 152, 255);
}
.banniere-galerie hgroup p{
    text-align: center;
    line-height: 22px;
}
.photos{
    width: 100%;
    height: 130vh;
    /* border: 1px solid gray; */
}
.photos div.galerie{
    width: 80%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 2% auto;
    /* border: 1px solid gray; */
}
.photos div.galerie img{
    border-radius: 6px;
}