.entete{
    width: auto;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid gray; */
}
.entete nav{
    width: 42vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.entete nav a{
    color: black;
    text-decoration: none;
}
.entete .langues{
    width: 4vw;
    height: 4vh;
    /* transform: ; */
    /* border: 1px solid goldenrod; */
}
.entete .langues span{
    font-weight: bold;
    color: rgb(14, 152, 255);
    margin: auto;
}