.pieddepage{
    width: 100%;
    height: 50vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(14, 152, 255);
}
.pieddepage section.info{
    width: 95%;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid gray; */
}
.pieddepage section.info .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid papayawhip; */
}
.pieddepage section.info .liens{
    width: 12%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    padding: 0% 1%;
    /* border: 1px solid papayawhip; */
}
.pieddepage section.info .liens a{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    text-decoration: none;
}
.pieddepage section.info .contacts{
    width: 25%;
    height: 27vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    /* padding: 0.5%; */
    border: 1px solid papayawhip;
}

.pieddepage section.info .contacts h3{
    font-weight: 500;
}
.pieddepage section.info .contacts h3::after{
    content: "";
    width: 10%;
    height: 2%;
    background-color: white;
}
.pieddepage section.info .contacts  p{
    text-align: right;
}
.pieddepage section.info .contacts  span{
    width: 24px;
    height: 24px;
    float: left;
    border: 1px solid gray;
}
.pieddepage section.info .contacts span img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.pieddepage section.info .reseauxS{
    font-weight: 500;
}
.pieddepage section.info .reseauxS ul{
    height: 70%;
    float: left;
    list-style: none;
    border: 1px solid gray;
}
.pieddepage section.info .reseauxS ul li{
    width: 25px;
    height: 25px;
    margin: 0.5% auto;
}
.pieddepage section.info .reseauxS ul li img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
hr{
    width: 90%;
    height: 0.5%;
    background-color: rgb(255, 255, 255);
}
.copyright {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid wheat; */
}
.copyright p{
    color: white;
    font-weight: 500;
}